<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>blog it, ok</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <header>
        <div  class="mainheader">
        <a class="fplink" href="/"><h1>blog it,</h1><img src="/img/logo.png" alt="ok" class="logo" /> </a>
        <p class="tagline">Ideas, demos and utter waste of time.</p>
        <div class="footerlinks">
          <p class="view"><a href="https://github.com/gildean"><i class="icon-github"></i> github</a></p>
          <p class="view"><a href="#" id="aboutlink"><i class="icon-question-sign"></i> about</a></p>
        </div>
        </div>
      </header>
      {% include about.html %}
      <section id="blogposts">
        {{ content }}
      </section>
    </div>
    {% include scripts.html %}
  </body>
</html>
